<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Autism Research Centre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../img/server-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/70efdfea82.js"></script>
    <link rel="stylesheet" href="../css/main.css"/>
  </head>
  <body>

    <!-- <div class="ui inverted menu"> -->
      <!-- <div class="header item">
      </div> -->
    <!-- </div> -->
    <div class="ui grid">

      <div class="four wide column">
        <!-- Spacing-->
      </div>

      <div class="eight wide column panel">
        <div class="glitch" data-text="arc.moe">arc.moe</div>
        <hr style="filter:opacity(10%)">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in velit luctus, sagittis quam sit amet, gravida erat. Vivamus ullamcorper arcu et pulvinar fermentum. Ut sed varius nulla. Maecenas condimentum libero ex, sit amet fringilla lectus laoreet vitae. Nullam ac augue orci. Integer neque mauris, tempor id malesuada fermentum, luctus tempus tortor. Pellentesque a consequat nunc. Mauris nunc massa, condimentum nec ante vitae, egestas ornare erat. Aliquam enim libero, tristique id quam nec, sodales ullamcorper ex. Quisque id dolor nisi.
        </p>

        <p>
Aenean aliquam lacinia mattis. Suspendisse in mauris nibh. Etiam hendrerit pharetra dolor vitae semper. Aliquam rutrum non metus sed euismod. Aenean facilisis pretium libero in ullamcorper. Curabitur lobortis porttitor tortor, sed feugiat lacus. In vehicula augue in molestie vehicula. Vivamus vehicula eleifend suscipit. Donec eget mollis enim, ac tristique dui. Vivamus bibendum et nunc non commodo. Sed id tristique leo. Nam in mi sit amet libero finibus porttitor sed nec lectus. In arcu est, suscipit ut pellentesque at, mollis a lacus. Fusce fringilla sapien et nisi elementum efficitur. Quisque at interdum massa, non accumsan mi. Nullam in cursus quam.
</p>

<p>
Donec imperdiet eget leo quis molestie. Maecenas condimentum aliquet quam, in volutpat lorem sollicitudin eget. Vivamus ornare gravida sem eu gravida. Fusce a purus scelerisque, ultricies dolor non, congue nisl. Nulla facilisi. Ut pretium suscipit nunc, ut tempor purus pharetra vel. Vivamus neque quam, rutrum non dignissim id, viverra id leo. Etiam tincidunt vel mauris quis tristique. Vestibulum lobortis sem vitae elit vehicula, nec dapibus nisi ultrices. Pellentesque consequat laoreet erat egestas pellentesque. Nullam accumsan enim nec sapien cursus rhoncus. Etiam et cursus nibh.
</p>

<p>
Aliquam erat volutpat. Aliquam molestie neque vel ligula mattis, a aliquet dolor hendrerit. Mauris porta mattis mauris, id laoreet odio cursus non. Aenean et tincidunt justo. Proin gravida lectus eu neque maximus efficitur. Proin ullamcorper, erat et aliquam aliquam, nisl magna ornare tellus, eu blandit leo eros vehicula lectus. Curabitur id ex in purus faucibus rutrum sed ornare eros. Vestibulum ut pretium nulla. Morbi ac luctus est. Etiam vitae viverra velit. Vestibulum vitae convallis elit. Ut dignissim nisl iaculis turpis hendrerit tincidunt. Nunc efficitur ipsum facilisis, lacinia mi in, porta nisl.
</p>

<p>
Integer placerat placerat sem, et ornare justo tristique id. Sed eu ultricies quam, in mattis libero. Etiam malesuada, tortor id placerat malesuada, urna nunc pretium purus, id viverra ligula ante nec dolor. Quisque in maximus tellus. Donec nisi enim, tristique in dictum vel, volutpat ac urna. Aliquam at consequat justo. Cras sapien nulla, varius at feugiat non, interdum quis massa. Donec non accumsan sem, et interdum magna. Aliquam facilisis magna tempus libero pellentesque pharetra.
        </p>
      </div>

      <div class="four wide column">
        <!-- Spacing-->
      </div>

      <div class="two column row">
        <div class="column"></div>
        <div class="column"></div>
      </div>
    </div>


    <video src="img/kirokaze.webm" autoplay muted loop poster="kirokaze.jpg" id="videoBg"></video>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/ccc-streamer-utilities.js"></script>
  <script src="../js/main.js"></script>
</html>
