<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Autism Research Centre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/server-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/70efdfea82.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>

    <div class="ui inverted menu">
      <div class="header item">
        <%- content.icon %>
      </div>
      <div class="header item">
        <%= content.username %>&nbsp;<%- content.verified %>
      </div>
      <div class="right menu">
        <%- content.login %>
      </div>
    </div>

    <div class="ui stackable padded grid container">
      <div class="four wide column">
        <div class="ui inverted centered vertical menu">
          <div class="item">
            <div class="header">Tools</div>
            <div class="menu">
              <a class="item" href="https://music.arc.moe">Music Bot</a>
            </div>
          </div>
          <div class="item">
            <div class="header">API</div>
            <div class="menu">
              <a class="item" href="/api/smug">Smug</a>
              <a class="item" href="/api/placeholder">Placeholder</a>
            </div>
          </div>
          <div class="item">
            <div class="header">GitHub</div>
            <div class="menu">
              <a class="item" href="https://github.com/Fshy/FshyBot">FshyBot</a>
              <a class="item" href="https://github.com/Fshy/arc.moe">Website</a>
              <a class="item" href="https://github.com/Fshy/Graf">Music Bot</a>
              <a class="item" href="https://github.com/Fshy/arc.moe-shitposting">Image Manipulation</a>
            </div>
          </div>
        </div>
      </div>

      <div class="twelve wide column">
        <!--  -->
        <% if (user) { %>
          <% if (user.guildMember) { %>
            <h2>secret stuff</h2>
          <% }else{ %>
            <h1>nothing to see here</h1>
          <% } %>
        <% } %>
        <!--  -->
      </div>
    </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
</html>
