body {
  background-color: #0c0c0c;
  color: #FFF;
}

.circle_img {
  height: auto;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
