body {
  background-color: #0c0c0c;
  color: #FFF;
}

.circle_img {
  height: auto;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.ui.category.search .results {
    width: 100%;
}

.ui.category.search>.results .category>.name {
    padding: 9px 0px 0px 22px;
}
